#mainPage {
  width: 100%;

  #mainContent {
    @media only screen and (min-width: 1024px) {
      grid-template-columns: 2fr 1fr;
    }

    #qrcode-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      flex: 1;
      canvas {
        flex: 1;
        border-radius: 8px;
        max-width: 250px !important;
        max-height: 250px !important;
      }
    }
  }
}